<!--SERVICE-MAIN-SECTION-->
<section id="services-main-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row mb-5">
        <div class="col-md-6">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/Manage_your_airbnb_account.jpeg" alt="Manage Airbnb">
        </div>
        
        <div class="col-md-6 mt-5">
          <h3>Manage your Airbnb account</h3>
          <p>From setting up your profile on sites such as Airbnb, 
          to updating and optimising it to get it more bookings, 
          we’ll take care of all the online stuff so you can focus on other things.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 mt-5">
          <h3>Guest screening</h3>
          <p>After chatting with you and getting to know your place,
          we’ll know what kind of guests are a good fit and
          we’ll ensure that you get the right people paying the right rates..</p>
        </div>
        <div class="col-md-6">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/Guest+screening.jpeg" alt="Manage Airbnb">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/check-in%26out.jpeg" alt="Manage Airbnb">
        </div>
        
        <div class="col-md-6 mt-5">
          <h3>Check-in & Check-out</h3>
          <p>You never have to meet your guests. 
          We’ll take care of the key swap, show them around your place and then check everything out before they leave.</p>
        </div>
    </div>
  </div>
</section>
  
<!--<section id="service-main-head-section" >
  <div class="container">
    <div class="row text-center">
      <div class="jumbotron1">
        <div class="p-5 text-center">
          <h1>Website Under Construction!</h1>
          <div align="center">
            <hr>
          </div>
          <h2>I am working hard to make it happened!<br> 
          Stay Tuned!</h2>
        </div>
      </div>
    </div>
  </div>
</section>-->