<!--SERVICE-MAIN-SECTION-->
<section id="services-main-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row mb-5">
        <div class="col-sm-3 col-md-6 flex-xs-middle">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/Manage_your_airbnb_account.jpeg" alt="Manage Airbnb">
        </div>
        
        <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
          <h3>Manage your Airbnb account</h3>
          <p>From setting up your profile on sites such as Airbnb, 
          to updating and optimising it to get it more bookings, 
          we’ll take care of all the online stuff so you can focus on other things.</p>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
          <h3>Guest screening</h3>
          <p>After chatting with you and getting to know your place,
          we’ll know what kind of guests are a good fit and
          we’ll ensure that you get the right people paying the right rates..</p>
        </div>
        <div class="col-sm-3 col-md-6 flex-xs-middle">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/Guest+screening.jpeg" alt="Manage Airbnb">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-3 col-md-6">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/check-in%26out.jpeg" alt="Manage Airbnb">
        </div>
        
        <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
          <h3>Check-in & Check-out</h3>
          <p>You never have to meet your guests. 
          We’ll take care of the key swap, show them around your place and then check everything out before they leave.</p>
        </div>
    </div>
    <div class="row mb-5">
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3>Care of your pupils</h3>
            <p>If you are abroad you want to know that your pupils are in good hands! So, we offer not only go for a walk with your dog but also care of your cat bring the food put fresh water and clean cats toilet. 
            Who will care of your flowers when you are on vacation we bring them fresh water and if you have a aquarium fish we change the water and put daily food.</p>
          </div>
          <div class="col-sm-3 col-md-6 flex-xs-middle">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/cat_care1.jpeg" alt="Animal Care">
          </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-3 col-md-6">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/towel_stock2.jpeg" alt="Laundry&Fresh towels">
        </div>
        
        <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
          <h3>Laundry & Fresh towels</h3>
          <p>We can also offer laundry stock with delivery new fresh towels for each time when new guests arrive.</p>
        </div>
    </div>
    <div class="row mb-5">
          <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
            <h3>Restock</h3>
            <p>Condiments? Toilet paper? Shampoo? We’ll make sure your place remains fully stocked. Oh, and we can add a fresh fruit bowl and bottle of wine for every new guest..</p>
          </div>
          <div class="col-sm-3 col-md-6 flex-xs-middle">
            <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/restock.jpeg" alt="Restock">
          </div>
      </div>
      <div class="row mb-5">
        <div class="col-sm-3 col-md-6">
          <img class="img-fluid mb-3 rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Services+Page/cleaning_services.jpeg" alt="Cleaning">
        </div>
        
        <div class="col-sm-9 col-md-6 flex-xs-middle mt-5">
          <h3>Cleaning</h3>
          <p>We can organise professional cleaners to ensure your place is spotless and ready for your next guest. We can even arrange a laundry service. We’ll make sure your place remains immaculate.</p>
        </div>
    </div>
      
    </div>
</section>
  
<!--<section id="service-main-head-section" >
  <div class="container">
    <div class="row text-center">
      <div class="jumbotron1">
        <div class="p-5 text-center">
          <h1>Website Under Construction!</h1>
          <div align="center">
            <hr>
          </div>
          <h2>I am working hard to make it happened!<br> 
          Stay Tuned!</h2>
        </div>
      </div>
    </div>
  </div>
</section>-->