<!--TEAM MAIN PAGE -->

<!-- Team -->
<section id="team-head-section" >
  <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
              <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
          </div>
      
          <div class="row text-center">
            <div class="col-sm-4">
                <div class="thumbnail">
                  <img class="mx-auto rounded-circle" src="https://s3-eu-west-1.amazonaws.com/artustest/Artur_Janka5.jpg" alt="">
                </div>
              <div class="caption">
                <h4>Artur Janka</h4>
                <p class="text-muted">StartUp Manager&IT Developer<br>Co-Funder</p>
               <div class="social">
                <ul class="list-inline social-buttons">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/artoriusXIII" target="_blank">
                      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://www.artusbay.com/" target="_blank"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></a>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.linkedin.com/in/arturjanka/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
                  </li>
                </ul>
               </div> 
              </div>
            </div>
            
            <div class="col-sm-4">
                <div class="thumbnail">
                  <img class="mx-auto rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Greg_marketing.jpg" alt="">
                </div>
              <div class = "caption">
                <h4>Greg Kaczmarek</h4>
                <p class="text-muted">Property Adviser<br>Co-Funder</p>
                  <div class="social">
                  <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-twitter fa-2x"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-facebook fa-2x"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="#">
                        <i class="fa fa-linkedin fa-2x"></i>
                      </a>
                    </li>
                  </ul>
                </div>  
               </div>
            </div>
            <div class="col-sm-4">
                <div class="thumbnail">
                  <img class="mx-auto rounded-circle" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Natalia_stock_cleaning_supervisor.jpg" alt="">
                </div>
              <div class = "caption">
                <h4>Natalia Kondrashova</h4></h4>
                <p class="text-muted">Stock&Cleaning Superviser</p>
                  <div class="social">
                    <ul class="list-inline social-buttons">
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-twitter fa-2x"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-facebook fa-2x"></i>
                        </a>
                      </li>
                      <li class="list-inline-item">
                        <a href="#">
                          <i class="fa fa-linkedin fa-2x"></i>
                        </a>
                      </li>
                    </ul>
                 </div>   
               </div>
            </div>
          </div>
       
       
            <div class="row">
              <div class="col-lg-8 mx-auto text-center">
                <p class="bottom-team">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
              </div>
            </div>
            
            
      </div>
</section>

  