<!--TEAM MAIN PAGE -->
<section id="team-explore-section">
  <div class="container">
          <div class="row">
              <div class="col text-center mb-5">
                <h1 class="display-4">Our Team</h1>
                <p class="lead">
                  We are a Dublin-based team, so we know what commitment you expect from someone managing your property in this market.
        
                  At BalorBay4U we truly understand the issues facing short-term rental property owners. After all, we have properties listed on Airbnb ourselves!
                  That’s why we created BalorBay4U, to deal with problems we personally experienced as Airbnb hosts.
        
                  Our team is dedicated, professional and approachable. We’re always available to answer questions or tackle problems with your home or your guests.
        
                  So what are you waiting for?
                </p>
              </div>
          </div>
          
          <div class="row">
              <div class="col text-center mb-5">
                <h1 class="dsplay-4">Artur Janka</h1>
                <h4 class="text-muted mb-4">StartUp Manager&IT Developer<br>Co-Funder</h4>
                <p class="lead">
                  I have graduated from <strong>National College of Ireland</strong> with a degree in Higher Diploma in Science in Cloud Computing.
                  I am also graduated at <strong>University of Technology</strong> with degree in Building Construction.
                  I am highly motivated, hard-working and enthusiastic person.
                  Through my career, I have developed strong interpersonal, communication, teamwork skills.
                  I am constantly developing my skills and knowledge about newest programming trends.
                  I am focused on improvement of an organization of my workload and time management.
                  I believe in the power of information, knowledge and skills.
                  I have established my BalorBay4U Company through business plan.
                  I was making small steps working first for one of airbnb owners taking my learning experiences.
                  Following my passion I went further into main idea to help airbnb owners to improve their business.
                  <br>
                </p>
                <br>
                <div class="align-justify"><h4>The Motto I always follow.</h4></div>
                
                <blockquote><p class="quotation"> 
                Ever tried, ever failed no matter try again, fail again, fail better.
                Treat everyone kindly, and light up the night.</p>
                <footer>— Becket</footer>
                </blockquote> 
              </div>
          </div>
          
          <div class="row mb-5">
              <div class="col-sm-3 col-md-6 flex-xs-middle">
                <img class="img-fluid mb-3 img-thumbnail" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Our+Team+Site/sesja_4.jpg" alt="Artur Janka">
              </div>
              
              <div class="col-sm-9 col-md-6 flex-xs-middle text-center mb-1">
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p>
                      Interesting in interior design. Using SketchUp which is a great tool for quickly visualizing an interior design project.
                      SketchUp tools to build, insert doors and windows is good for use in client presentations when the customer want change 
                      and design a new room or property.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p>
                      I’m a new Rubyist user  as everything is much easier to create.
                      I have a hunger for acquiring a new knowledge in every aspect and I find it interesting.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p>
                      Construction Engineering graduate with 6 years’ experience in logistics and stock administration.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p>
                      4 years’ experience in technical support and managing the stock inventory system in Lantec.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p>
                      Designer of Business Cards, Welcome Cards & Develop new projects on website as an eCommerce, Marketplace and Portfolio website.
                      </p>
                    </div>
                  </div>
                  <div class="d-flex flex-row">
                    <div class="p-4 align-self-start">
                      <i class="fa fa-check"></i>
                    </div>
                    <div class="p-3 align-self-start">
                      <p>
                      Interesting in PowerPoint presentation. I decided make a few project as entrepreneur to establish first gym and after indoor sand court
                      for volleyballer lovers and support Dublin Comunity.
                      </p>
                    </div>
                  </div>
                  
              </div>
          </div>
          
          <div class="row mb-5">
              <div class="col-sm-9 col-md-6 flex-xs-middle text-center">
                <h1 class="dsplay-4">Greg Kaczmarek</h1>
                <h4 class="text-muted mb-4">Property Adviser&Co-Funder</h4>
                <p>
                I am addicted to volleybal representing Aer Lingus Volleyball Club indoor
                and Ireland Beach Volleyball on sand.
                During my career I explored the world of geography, transportation,
                information technologies, customer services and many more. At the moment I am working on few projects 
                and one of them is BalorBay4U a new startup to help airbnb owners to host their property.
                </p>
              </div>
              <div class="col-sm-3 col-md-6 flex-xs-middle">
                <img class="img-fluid mb-3 img-thumbnail" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Greg_marketing.jpg" alt="Natalia">
              </div>
          </div>
          
          <div class="row mb-5">
              <div class="col-sm-9 col-md-6 flex-xs-middle text-center">
                <h1 class="dsplay-4">Natalia Kondrashova</h1>
                <h4 class="text-muted mb-4">Stock&Cleaning Superviser</h4>
                <p>
                I have worked in a office for 12 years as an economist and i was in charge of budget of 16 daughter-companies of one of the biggest Power Company in Russia.
                 Apart from my work experience, currently, I am studying business at the DBS college.
                 I am hard working person, focus on details and problem solving.
                 As a costumer oriented person, my schedule is flexible, so I am happy to answer any questions 24/7 hours per week.
                </p>
              </div>
              <div class="col-sm-3 col-md-6 flex-xs-middle">
                <img class="img-fluid mb-3 img-thumbnail" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Natalia_stock_cleaning_supervisor.jpg" alt="Natalia">
              </div>
          </div>
          <div class="row mb-5">
              <div class="col-sm-9 col-md-6 flex-xs-middle text-center">
                <h1 class="dsplay-4">Kris Ambroziak</h1>
                <h4 class="text-muted mb-4">Contractor Team Driver</h4>
                <p>
                I am passionate about fitness & sport including martial arts since my early teens as long as I can remember.
                I put my passion into life to be a trainer at the gym and giving privite lessons of the kickboxing. 
                I have knowledge in administration and accounting. I was improving this knowledge during my work at the bank in Krakow Poland.
                <br>At present I am working for retail sector and I am contractor driver working with ArtusBayLine Delivery Service.
                </p>
              </div>
              <div class="col-sm-3 col-md-6 flex-xs-middle">
                <img class="img-fluid mb-3 img-thumbnail" src="https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/artusbay-delivery-services/Our+Team/Kris_Ambroziak.jpg" alt="Kris">
              </div>
          </div>

       
            <div class="row">
              <div class="col text-center mb-5">
                <blockquote><p class="quotation"> 
                We do not have plan "B" just different ways to make plan "A" work!
                </p>
                <footer>— BalorBay 4U</footer>
                </blockquote> 
              </div>
            </div>
            
            
  </div>
</section>