///CONTACT
section#contact-head-section {
    background-image: url('https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/dublin-map1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 700px;
    margin-right: -15px;
    margin-left: -15px;
    .contact-jumbotron2{
    background-color: rgba(055, 056, 051, 0.7);
    border: 1px solid #f2cb3b;
    margin: auto;
    width: 60%;
    padding: 10px;
    }
    .hidden{
        display: none;
    }
    h1.section-heading {
    text-transform: uppercase;
    color: #FFF3CE;
    text-shadow: 0px 2px 3px #555;
    margin-bottom: 0.25rem;
    font-weight: 500;
    line-height: 2;
    }
    h3.section-subheading{
    text-transform: uppercase;
    color: #e9ecef;
    text-shadow: 0px 2px 3px #555;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    }
    textarea{
    min-height: 8rem;
    }
}
section#contact-create-section{
    background-image: url('https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/Contact+Page/room_setting-oldmap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 700px;
    margin-right: -15px;
    margin-left: -15px;
    .jumbotron{
    background-color: rgba(055, 056, 051, 0.7);
    margin-top: 2rem;
    margin-left: 20%;
    border: 1px dashed deeppink;
    }
    h3.section-subheading{
    color: #FFF3CE;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
    }
    .m-5{
      color: #FFF3CE;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: 200;
    text-align: center;
    margin: 1rem 0;
    }

}

