@import "bootstrap";
@import "normalize";



$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #E9E9E9;

body{
    background-color: aliceblue;
    color: #333333;
    font-family: 'Raleway', sans-serif;
}

.sticky-top .navbar-brand{
    font-family: Georgia, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 8px;
    color: #E15D29;
    font-size: 2.25em;
    text-transform: uppercase;
    border: 2px;
    padding: 0.5em 0.75rem;
    text-decoration: none;
    float: left;
    letter-spacing: 12px;
}
.sticky-top .navbar-brand>img {
  padding: 2px 2px;
  width: 74px;
}
.sticky-top .navbar-nav > li > a{
    font-family: Georgia, Helvetica, sans-serif;
    font-weight: 400;
    color: #979797;
    font-size: 20px;
    padding: 2px 12px;
    letter-spacing: 10px;
    text-decoration: none;
    text-transform: uppercase;
    &:link { 
      color: #92C01F;
    }
    &:visited { 
      color: #FFFFFF;
    }
    &:hover { 
      color: #CCCCCC;
    }
    &:active { 
      color: red;
    }
 
}
hr{
    width: 12em;
    display: block;
    height: 2px;
    margin: 2rem 0;
    border-top: 2px solid $highlight;
    text-align: center;
}
//Welcome page
section#welcome-head-section{
  
    margin-right: -15px;
    margin-left: -15px;

    background-image: url('https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/house+pics/image-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    #opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-bottom: auto;
}

section#welcome-head-section .container .jumbotron1{
  //background-color: rgba(215,226,241,0.9);
    background-color: rgba(055, 056, 051, 0.7);
    margin: 8.5rem 0;
    h1{
      text-transform: uppercase;
      color: #FFF3CE;
      text-shadow: 0px 2px 3px #555;
      margin-bottom: 2rem;
      font-family: inherit;
      font-weight: 800;
      line-height: 2;
      margin-top: 1rem;
    }
    hr{
    width: 12em;
    display: block;
    height: 2px;
    margin: 2rem 0;
    border-top: 2px solid $highlight;
    text-align: center;
    }
    h2{
      text-transform: uppercase;
      color: #FFF3CE;
      text-shadow: 0px 2px 3px #555;
      margin-bottom: .5rem;
      font-family: inherit;
      font-weight: 400;
      line-height: 2;
      padding: 2px 12px 0 0;
    }
    .btn-primary{
      color: white;
      background-color: #E15D29;
      border-radius: 1.1rem;
      margin-top: .5rem;
      &:hover{
          color: $highlight;
          }
      }
    
}
    
//ABOUT US SHORT 
section#about-head-section{

  .row.dark{
    padding: 10px 0 100px 0;
  }
  
  .dark{
    background-color: #002B35;
    display: flex;
    align-items: center;
    .container{
      font-family: 'GothamRounded-Light', sans-serif;
      font-size: 15px;
    }
  }
}


.dark .about {
    width: 50%;
    text-align: center;
    hr{
    width: 12em;
    display: block;
    height: 2px;
    margin: 2rem 0;
    border-top: 2px solid $highlight;
    text-align: center;
}
}
.dark h2 {
    color: #fff;
    font-size: 45px;
    padding-bottom: 17px;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: normal;
    font-size: 45px;
    text-align: center;
    margin: 30px 0;
}
.dark h3 {
    margin-top: 10px;
    margin-bottom: auto;
    margin-top: 1rem;
    #text-transform: uppercase;
    text-shadow: 0px 2px 3px #555;
    font-family: -webkit-body;
    color: #A1A4A5;
    font-size: 22.5px;
    line-height: 32px;
    text-align: center;
    
}
//SERVICE
section#service-head-section{
    padding: 30px 0;
    background-color: #26272b3b;
    margin-right: -15px;
    margin-left: -15px;

    h1{
    margin-top: 1rem;
    margin-bottom: 15px;
    color: #364350;
    padding-bottom: 17px;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: 800;
    text-shadow: 0px 2px 3px #555;
    font-family: inherit;
    line-height: 2;
    }
    .col-sm-3{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    }
    .mx-auto{
    margin-top: 2rem;
    }
}

section#service-head-section .service .col-sm-3 .thumbnail {
    margin-bottom: 10px;
    text-align: center;
    img {
    width: 150px;
    height: 150px;
    border: 7px solid #fff;
    }
}


section#service-head-section .service .service{
 
    margin: 1rem 1rem 1rem 1rem;
}
.btn-primary{
    color: white;
    background-color: #E15D29;
    margin-top: 1.5rem;
    &:hover{
        color: $highlight;
    }
}
//EXPLORE HEAD

section#explore-head-section {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #12402B;
    background-image: url('https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/dublin_ie.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-bottom: auto;
    .row{
      padding: 10rem 0;
    }
    .bg-light{
        background-color: #2a3233b8 !important;;
    }
    h1 {
    color: #d4dcd3;
    padding-bottom: 17px;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: normal;
    text-align: center;
    margin: 40px 0;
    }
    .lead{
    color: azure;
    margin-top: 10px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    #text-transform: uppercase;
    text-shadow: 0px 2px 3px #555;
    font-family: -webkit-body;
    #color: #A1A4A5;
    font-size: 25px;
    line-height: 32px;
    }
}

////TEAM
section#team-head-section {
    background-color: #d8e7f7;
    margin-right: -15px;
    margin-left: -15px;
    padding: 50px 0;
    .row{
      margin-bottom: -1rem;
    }
    blockquote{
        font-size: 20px;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: .5em 5px;
        padding: 0 10px;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;
        }

        blockquote:before {
          content: open-quote;
          display: inline;
          height: 0;
          line-height: 0;
          left: -10px;
          position: relative;
          top: 20px;
          color: #ccc;
          font-size: 3em;
        }
        
        p{
          margin: 0;
        }
        p.quotation{
          font-style: italic;
          color: black;
        }

        footer{
          margin:0;
          text-align: right;
          font-size: 1em;
          font-style: italic;
        }
}
section#team-head-section .col-lg-12{
      padding-bottom: 0.1rem;
      margin-bottom: -2rem;
    }

section#team-head-section .team {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

section#team-head-section h2.section-heading {
  
    margin-top: 1rem;
    margin-bottom: 15px;
    color: #364350;
    padding-bottom: 17px;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: 800;
    text-shadow: 0px 2px 3px #555;
    font-family: inherit;
    line-height: 2;
   
}
section#team-head-section h3.section-subheading {
  
    font-weight: 400;
    font-style: italic;
    margin-bottom: 75px;
    text-transform: none;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica, Arial, sans-serif;
}

.thumbnail img {
    width: 225px;
    height: 225px;
    border: 7px solid #fff;
}
.thumbnail {
    margin-bottom: 10px;
    text-align: center;
}

.col-sm-4{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
section .mx-auto{
    margin-top: 2rem;
}
section#team-head-section .list-inline-item{
    margin: 0 0.9rem 0 0.9rem;
}
section#team-head-section .social{
    margin: 10px 0;
}
section#team-head-section .social .social-buttons .fa{
        margin: 0 15px;
        .fa-2x {
        font-size: 2em;
        }
}

.button_wrapper {
    margin: 0.2em 0 0.2em 0;
    text-align: center;
}
///CONTACT
section#contact-head-section {
    margin-right: -15px;
    margin-left: -15px;

    background-image: url('https://s3-eu-west-1.amazonaws.com/balorbay-airbnb-shortletting/dublin-map1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 800px;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    margin-bottom: auto;
    .contact-jumbotron2{
  //background-color: rgba(215,226,241,0.9);
    background-color: rgba(055, 056, 051, 0.7);
    margin: 8rem 0;
    border: 1px dashed deeppink;
    }
    h1.section-heading {
    text-transform: uppercase;
      color: #FFF3CE;
      text-shadow: 0px 2px 3px #555;
      font-family: inherit;
      font-weight: 800;
      line-height: 2;
    }
    h3.section-subheading{
    color: #FFF3CE;
    font-family: 'caecilia_lightregular', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 1rem 0;
    }
}
  
section#contact form#contactForm{
    margin: 0 2px;
}


    
//FOOTER
#footer{
    padding: 2.5em 5%;
   
    border-top: #236943;
    background-color: #71757C;
    .copyright{
        float: left;
        font-size: .9am;
        margin: 0;
    }
    nav{
        float: right;
        i{
            color: #424652;
            margin-left: 1em;
            padding-top: .2em;
            &:hover{
                color: #8bc6db;
            }
        }
    }
}


@import "contacts";
@import "team";
@import "about";
@import "services";

