section#team-explore-section .img-thumbnail{
  background-color: #E15D29;
  width: 90%;
  
  
}
section#team-explore-section{
  .lead{
    strong { 
    font-weight: bold; 
    }
  }
  blockquote{
        font-size: 30px;
        background: #f9f9f9;
        border-left: 10px solid #ccc;
        margin: .5em 10px;
        padding: 0 10px;
        quotes: "\201C""\201D""\2018""\2019";
        padding: 10px 20px;
        line-height: 1.4;
        }

        blockquote:before {
          content: open-quote;
          display: inline;
          height: 0;
          line-height: 0;
          left: -10px;
          position: relative;
          top: 30px;
          color: #ccc;
          font-size: 3em;
        }
        
        p{
          margin: 0;
        }
        p.quotation{
          font-style: italic;
          color: black;
        }

        footer{
          margin:0;
          text-align: right;
          font-size: 1em;
          font-style: italic;
        }
  .fa{
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
  }
  
}