section#team-explore-section .img-thumbnail{
  background-color: #E15D29;
  width: 90%;
  
}
section#team-explore-section{
  .fa{
    color: #fff;
    background: #333;
    padding: 4px;
    border-radius: 5px;
  }
}